/* --color1 = #06121E; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 42px 36px;
}

.icons {
    color: white;
    font-size: 32px;
}

#button-menu {
    width: 167px;
    height: 38px;
    font-size: 16.43px;
    background-color: transparent;
    color: white;
    border: white solid 2px;
    border-radius: 4px;
}

header {
    background-image: url(../images/png/foto-iniciial.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    height: 100vh;
    border: inset 5px white;

}

#initial-page {
    background-color: rgb(0, 0, 0, 0.7);
    height: 100%;
    backdrop-filter: blur(5px);
}

#logo {
    max-width: 120px;
}

#txt-inicio {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    color: white;
}

#txt-inicio h1 {
    width: 873px;
    font-size: 48px;
    font-weight: 900;
}

#txt-inicio p {
    font-size: 18px;
    line-height: 27px;
}


#txt-inicio button {
    background-color: #D94140;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0em;
    color: white;
    text-align: center;
    width: 292px;
    height: 66px;
    top: 566px;
    left: 574px;

}

#sobre {
    height: 100vh;
    background-color: #06121E;
    display: flex;
    border: inset 5px white;
}

#sobre #imagens {
    width: 50%;
}

#sobre #txtsobre {
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 30px;
}

#txtsobre p {
    width: 582px;
    height: 81px;  
    font-size: 18px;
}

#txtsobre h1 {
    width: 582px;
    font-size: 44px;
}

#imagem-sobre-1 {
    width: 229px;
    height: 255px;
    top: 1010px;
    left: 428px;
    object-fit: cover;
    position: absolute;
}

#imagem-sobre-2 {
    width: 310px;
    height: 192px;
    top: 938px;
    left: 87px;
    object-fit: cover;
    position: absolute;
}
#imagem-sobre-3 {
    width: 278px;
    height: 310px;
    top: 736px;
    left: 329px;
    object-fit: cover;
    position: absolute;
}

#servicos {
    height: 100vh;
    background-color: rgb(6, 18, 30);
    color: white;
    border: inset 5px white;
}

#servicos h1 {
    font-size: 44px;
}

#txt-servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 50px;
}
#p-servicos {
    font-size: 20px;
    width: 836px;
    
}

.box img {
    width: 354px;
    height: 313px;
    top: 1559px;
    left: 543px;
    object-fit: cover;
}

.grid-servicos {
    display: grid;
    grid-template-columns: 354px 354px 354px;
    justify-content: space-around;
}

.box {
    margin-top: 40px;
}

.preco-botao {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 76px;
    font-size: 18px;
    padding: 0 20px;
    font-weight: 900;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    color: black;
}   

.preco {
    width: 101px;
    height: 34px;
    top: 1893px;
    left: 782px;
    border-radius: 8px;
    background-color: #D94140;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

footer {
    background-color: #06121E;
    border: inset white 5px;
    height: fit-content;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

footer img {
    width: 100%;
    height: 412px;
    top: 2193px;
}

.contatos {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 38px 0;
    gap: 40px;
}

#logo-contato {
    width: 166px;
    height: 196px;
}

@media(max-width: 800px){
    .menu {
        flex-direction: column;
        align-items: center;
    }

    #button-menu {
        display: none;
    }

    #txt-inicio h1 {
        width: 400px;
    }
    
    #txt-inicio p {
        font-size: 16px
    }

    #txt-inicio h1 {
        font-size: 36px;
    }

    #txt-inicio button{
        width: 193px;
        height: 48px;
        font-size: 16px;        
    }

    #sobre {
        flex-direction: column;
        height: fit-content;
        padding: 20px 0;
    }
    
    #imagem-sobre-1 {
        width: 212.53px;
        height: 236.66px;
        top: 1486.29px;
        left: 248px;
    }
    
    #imagem-sobre-2 {
        width: 267.7px;
        height: 158.19px;
        top: 1360.47px;
        left: 14px;
    }
    #imagem-sobre-3 {
        width: 258px;
        height: 287.7px;
        top: 1100px;
        left: 198px;
    }
    #sobre #imagens {
        width: 100%;
    }
    
    #sobre #txtsobre {
        margin-top: 800px;
        width: 100%;
        padding: 0 50px;
    }

    #txtsobre h1 {
        width: 100%;
    }
    #txtsobre p {
        width: 100%;
        height: fit-content;
    }

    #servicos {
        height: fit-content;
        padding: 50px 0;
    }

    .grid-servicos {
        grid-template-columns: 354px;
    }

    footer img {
        margin: 40px 0;
        width: 100%;
        height: 412px;
        object-fit: cover;
    }   

    .contatos p {
        font-size: 16px;
        width: 300px;
        text-align: center;
    }


    #txt-servicos {
        width: 100%;
    }


    #txt-servicos p {
        width: 100%;
        padding: 0 50px;
    }
    
}